.containerEste {
    justify-content: center;
    margin: 0 auto;
}

.list-group {
    max-width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.close{
    margin-left: auto;
    background-color: transparent;
    border: none;
}

.imagen-falla-solucionada {
    display: block;
    margin-bottom: 1em;
    margin-right: 1rem;
    width: 9.375rem;
    height: auto;
}

.detalle-falla-solucionada {
    text-align: left;
    font-size: 1rem;
}