.containerEste {
    justify-content: center;
    margin: 0 auto;
}

.list-group {
    max-width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.close{
    margin-left: auto;
    background-color: transparent;
    border: none;
}