.suscribirse-content .action-form {
    max-width: 30rem;
    margin: 0 auto;
}

.probar {
    max-width: 60rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.primero {
    max-width: 30rem;
    width: 100%;
}

.algo {
    max-width: 60rem;
    width: 100%;
    height: 20rem;
}

.btn-primary {
    max-width: 100%;
    width: auto;
    margin: 1rem auto;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    display: block;
}

.algo textarea {
    height: 80%;
}