.services-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 0 auto;
}

.service-rectangle {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    width: calc(25% - 20px);
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.service-image {
    width: 100%;
    height: auto;
}

.service-name {
    font-weight: bold;
    margin-top: 10px;
}

.service-description {
    text-align: left;
    margin: 10px 0;
}

.service-points {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

.button-points {
    background-color: transparent;
    border: none;
    color: black;
    font-style: italic;
    text-decoration: underline;
    padding: 0;
    box-shadow: none;
}

.redeem-button {
    color: grey;
    cursor: pointer;
    text-decoration: underline;
    margin-left: auto;
}

.close{
    margin-left: auto;
    background-color: transparent;
    border: none;
}