.services-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    justify-content: center;
    margin: 0 auto;
}

.service-rectangle {
    background-color: #fff;
    border: 0.063rem solid #ccc;
    padding: 1.25rem;
    width: calc(25% - 1.25rem);
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.service-image {
    width: 100%;
    height: auto;
}

.service-name {
    font-weight: bold;
    margin-top: 0.625rem;
}

.service-description {
    text-align: left;
    margin: 0.625rem 0;
}

.service-points {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin-top: 0.625rem;
    text-align: center;
}

.button-points {
    background-color: transparent;
    border: none;
    color: black;
    font-style: italic;
    text-decoration: underline;
    padding: 0;
    box-shadow: none;
}

.redeem-button {
    color: grey;
    cursor: pointer;
    text-decoration: underline;
    margin-left: auto;
}

.close{
    margin-left: auto;
    background-color: transparent;
    border: none;
}

.canje-list {
    box-shadow: none;
    border-color: var(--blanco);
    display: none;
    text-align: left;
}

.text-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#toggle-offers {
    display: block;
    width: 100%;
    text-align: left;
    padding: 0.25rem;
    background-color: var(--verdeBotonesCuadrados);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0.313rem;
}

#toggle-offers:hover {
    background-color: var(--verdeBotonesCuadrados);
}