.logo-container img {
    width: 3.125rem;
    vertical-align: middle;
}


.error-container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-grow: 1;
}

h2 {
    font-size: 20rem;
    margin-bottom: 0;
    padding-bottom: 0;
}

h3 {
    font-family: var(--fuenteSubtitulos), sans-serif;
    color: var(--negro);
    text-decoration: none;
    font-size: 2.4rem;
    margin-bottom: 2rem;
    margin-top: -8rem;
}

p {
    font-family: var(--fuenteParrafos);
    color: var(--negro);
    text-decoration: none;
    font-size: 2.4rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.error-icons img {
    width: 25rem;
    margin:2rem;
    padding-top: 10rem;
}

.error-content h2 {
    font-size: 20rem;
    color: #333;
    padding-bottom: 0;
    margin-bottom: 0;
}

.error-content h3 {
    font-size: 3rem;
    color: #333;
}

.error-content p {
    font-size: 1.25rem;
    color: #666;
    margin: 0.625rem 0;
}