.main-content {
    display: inline-flex;
}

.main-text{
    width: 65%;
}

.main-text p{
    color: var(--negro);
    text-decoration: none;
    font-style: var(--fuenteParrafos);
}

.images{
    display: block;
    justify-content: center;
    width: 35%;
}

.top-image{
    width: 50%;
}

.bottom-image{
    width: 50%;
}

.close{
    margin-left: auto;
    background-color: transparent;
    border: none;
}