.header__buttons-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.header__buttons {
    display: flex;
    align-items: center;
}

.header__button {
    text-decoration: none;
    color: var(--blanco);
    background-color: var(--verdeSecundario);
    padding: 5px 15px;
    border-radius: 15px;
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
}

.header__button-underline {
    text-decoration: underline;
    color: var(--blanco);
    margin-right: 10px;
    font-size: 1.4rem;
}

.main-content {
    flex: 1;
    padding: 2rem;
    text-align: center;
}

.ini-container {
    margin-right: 40%;
    margin-left: 39%;
    margin-top: 3rem;
    background-color: #ffffff;
    border-color: grey;
    border-width: 0.2rem;
    border-radius: 1rem;
    max-width: 40rem;
}

.form-label {
    color: var(--negro);
    text-decoration: none;
    font-family: var(--fuenteParrafos), sans-serif;
    font-size: 1.6rem;
}

.col-form-label {
    color: var(--negro);
    text-decoration: none;
    font-family: var(--fuenteParrafos), sans-serif;
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}

.form-label:first-child {
    margin-top: 1rem;
}

.check-container{
    margin-left: 5%;
    text-align: left;
}

.form-check {
    box-shadow: none;
}

.form-check-input {
    margin-right: 0.2rem;
}

.form-check-input:checked {
    background-color: var(--verdeSecundario);
    border-color: var(--verdeSecundario);
    box-shadow: none;
}

.form-check-input:focus {
    box-shadow: none;
    border-color: var(--blanco);
}

.form-control {
    width: 90%;
    margin-bottom: 1rem;
    margin-left: 5%;
    margin-right: 5%;
    border-color: var(--blanco);
}

.form-control:focus {
    box-shadow: none;
    border-color: var(--blanco);
}

.btn-primary {
    background-color: var(--verdeSecundario);
    font-size: 1.4rem;
    border-color: var(--verdeSecundario);
    color: var(--blanco);
}

.btn-primary:active:focus {
    background: var(--verdeSecundario);
    border-color: transparent;
}

.btn-primary:hover {
    background-color: var(--verdeBotonesCuadrados);
    border-color: var(--verdeBotonesCuadrados);
    color: var(--blanco);
}

.mx-auto{
    width: 90%;
    padding-bottom: 1.4rem;
}

.alert {
    max-width: 35.5rem;
    margin-left: 2rem;
    height: 2.7rem;
}
h5{
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}