#map {
    height: 70vh;
    width: 75%;
    margin-inline: auto;
}

.btn-primary {
    padding: 0.4rem 0.6rem;
    font-size: 1rem;
    max-width: 100%;
    justify-content: center;
    margin-top: 0.2rem;
}

.popup-name {
    font-size: 1rem;
    font-family: var(--fuenteParrafos), sans-serif;
    color: var(--negro);
    text-align: center;
    font-weight: bold;
}

.popup-state {
    font-size: 1rem;
    font-family: var(--fuenteParrafos), sans-serif;
    color: var(--negro);
    text-align: center;
}

.copy-message {
    font-size: 1rem;
    color: gray;
    margin-top: 0.25rem;
    text-align: center;
    transition: opacity 0.3s ease;
    opacity: 0;
    font-family: var(--fuenteParrafos), sans-serif;
    display: none;
}

.copy-message.visible {
    opacity: 1;
    font-family: var(--fuenteParrafos), sans-serif;
}
