.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 2rem;
}

.card {
    border-radius: 1rem;
    border: none;
    overflow: hidden;
}

.card-body {
    padding: 2rem;
    background-color: var(--blanco);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h1.text-center {
    font-family: var(--fuenteTitulo), sans-serif;
    color: var(--verdePrincipal);
    font-size: 3.2rem;
    margin-bottom: 1rem;
}

p.text-muted {
    font-family: var(--fuenteParrafos), serif;
    font-size: 1.6rem;
    color: var(--negro);
}

.form-label {
    font-family: var(--fuenteParrafos), sans-serif;
    color: var(--negro);
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

.text-danger {
    font-weight: bold;
}

.form-control, .form-check-input {
    border-radius: 0.5rem;
    border: 1px solid var(--verdeSecundario);
    padding: 0.8rem;
    font-family: var(--fuenteParrafos), serif;
    font-size: 1.4rem;
}

.form-control:focus, .form-check-input:focus {
    border-color: var(--verdePrincipal);
    outline: none;
    box-shadow: 0px 0px 5px var(--verdePrincipal);
}

.form-check-label {
    font-family: var(--fuenteParrafos), sans-serif;
    font-size: 1.6rem;
    color: var(--negro);
}

.btn-lg {
    font-family: var(--fuenteBotones), sans-serif;
    font-size: 1.8rem;
    padding: 1rem 2rem;
    border-radius: 0.8rem;
}

.shadow-lg {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

.mt-5 {
    margin-top: 5rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.form-check{
    text-align: left;
}

.form-check-label {
    justify-content: left;
    margin-left: 0;
    padding-left: 0;
}

.textoIzquierda{
    text-align: left;
    justify-content: left;
}

.form-check-input{
    margin-right: 0;
}