.medio {
    max-width: 50rem;
    margin-left: 37%;
    margin-right: 35%;
}

.centro{
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
}

.centro2{
    text-align: center;
    margin-left: 26.5%;
    margin-right: 20%;
}

.centro3{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}


.noEspacio{
    margin-left: 0;
    padding-left: 0;
    margin-right: 0;
    padding-right: 0;
    text-align: left;
    width: 100%;
}

.noEspacioRmx{
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    width: 100%;

}

.largo{
    height: 10rem;
}

.form-check-input{
    margin-top: 0.8rem;
}
