.usuarios-tabla {
    width: 100%;
    border-collapse: collapse;
    margin: 1.25rem 0;
    font-size: 1rem;
    text-align: left;
    font-family: var(--fuenteSubtitulos), sans-serif;
    color: var(--negro);
}

.usuarios-tabla thead tr {
    background-color: var(--grisToggle);
    color: white;
}

.usuarios-tabla th, .usuarios-tabla td {
    padding: 0.75rem 0.938rem;
    border: 0.063rem solid #ddd;
}

.usuarios-tabla tbody tr:nth-child(even) {
    background-color: var(--grisToggle);
}

.usuarios-tabla tbody tr:hover {
    background-color: #ddd;
}

.tabla-titulo {
    font-family: var(--fuenteSubtitulos), sans-serif;
    color: var(--negro);
    text-align: center;
}
