<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heladeras Solidarias ONG</title>
    <link rel="stylesheet" href="css/css.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<header class="header">
    <div class="header__texto">
        <a href="mainPage.html"><h1 class="header__titulo">Heladeras Solidarias <strong>ONG</strong></h1></a>
    </div>
</header>
<nav class="nav-container">
    <ul>
        <li><a href="registrarse.html">Registrarse</a></li>
        <li><a href="colaborar.html">Colaborar</a></li>
        <li><a href="mapa.html">Mapa de Heladeras</a></li>
    </ul>
</nav>
<main class="main-content">
    <h2>¿Quiénes Somos?</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet lorem ac imperdiet volutpat. Suspendisse
        hendrerit tortor vel nulla euismod congue. Fusce in sapien vel erat tristique dapibus. Cras iaculis tellus ut
        nulla vulputate, et ultrices lectus bibendum. Vestibulum sit amet ante a enim consequat lobortis. Sed sit amet
        hendrerit nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet lorem ac imperdiet volutpat. Suspendisse
        hendrerit tortor vel nulla euismod congue. Fusce in sapien vel erat tristique dapibus. Cras iaculis tellus ut
        nulla vulputate, et ultrices lectus bibendum. Vestibulum sit amet ante a enim consequat lobortis. Sed sit amet
        hendrerit nulla.
    </p>

    <h2>¿Qué Hacemos?</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet lorem ac imperdiet volutpat. Suspendisse
        hendrerit tortor vel nulla euismod congue. Fusce in sapien vel erat tristique dapibus. Cras iaculis tellus ut
        nulla vulputate, et ultrices lectus bibendum. Vestibulum sit amet ante a enim consequat lobortis. Sed sit amet
        hendrerit nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet lorem ac imperdiet volutpat. Suspendisse
        hendrerit tortor vel nulla euismod congue. Fusce in sapien vel erat tristique dapibus. Cras iaculis tellus ut
        nulla vulputate, et ultrices lectus bibendum. Vestibulum sit amet ante a enim consequat lobortis. Sed sit amet
        hendrerit nulla.
    </p>

    <h2>¿Cómo Contribuir?</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet lorem ac imperdiet volutpat. Suspendisse
        hendrerit tortor vel nulla euismod congue. Fusce in sapien vel erat tristique dapibus. Cras iaculis tellus ut
        nulla vulputate, et ultrices lectus bibendum. Vestibulum sit amet ante a enim consequat lobortis. Sed sit amet
        hendrerit nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet lorem ac imperdiet volutpat. Suspendisse
        hendrerit tortor vel nulla euismod congue. Fusce in sapien vel erat tristique dapibus. Cras iaculis tellus ut
        nulla vulputate, et ultrices lectus bibendum. Vestibulum sit amet ante a enim consequat lobortis. Sed sit amet
        hendrerit nulla.
    </p>
</main>
<footer>
    <p>&copy; 2024 Heladeras Solidarias ONG</p>
</footer>
</body>
</html>
