.form-label {
    font-size: 1.5rem;
    text-align: left;
    display: block;
}

.accion {
    text-align: center;
    max-width: 40rem;
}

.main-content .container {
    max-width: 75rem;
    margin: 0 auto;
}

.chico {
    max-width: 30rem;
    text-align: center;
    margin: 0 auto;
}

.mediano {
    max-width: 50rem;
    text-align: center;
    margin: 0 auto;
}

.form-select {
    text-align: left;
}

.containerPrincipal {
    max-width: 35rem;
    margin: 0 auto;
}

h3 {
    font-size: 2.5rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.btn-success {
    background-color: var(--verdeSecundario);
    border-color: var(--verdeSecundario);
    color: var(--blanco);
}

.btn-success:active:focus {
    background: var(--verdeSecundario);
    border-color: transparent;
}

.btn-success:hover {
    background-color: var(--verdeBotonesCuadrados);
    border-color: var(--verdeBotonesCuadrados);
    color: var(--blanco);
}

.list-group {
    display: flex;
    width: 100%;
    margin-inline: auto;
    margin-top: 5rem;
}

.list-group-item {
    color: var(--negro);
    text-decoration: none;
    font-family: var(--fuenteParrafos), serif;
    font-weight: 400;
    font-size: 1.4rem;
    border-color: transparent;
}

.list-group-item.top-item{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.list-group-item.bottom-item{
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.list-group p {
    margin-left: 1rem;
    font-size: 1.3rem;
    float: left;
    font-family: var(--fuenteParrafos), serif;
    font-weight: 250;
}

h4 {
    font-family: var(--fuenteParrafos), sans-serif;
    color: var(--negro);
    text-decoration: none;
    font-size: 1.5rem;
}