:root {
    --fuenteParrafos: 'Montserrat';
    --fuenteBotones: 'Montserrat';
    --fuenteTitulo: 'Poppins';
    --fuenteSubtitulos: 'Lexend';
    --blanco: #d9d9d9;
    --negro: #181818;
    --verdePrincipal: #0c3720;
    --verdeSecundario: #186D3D;
    --verdeBotonesCuadrados: #135731;
    --grisToggle: #ffffff;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteParrafos), serif;
    font-size: 1.6rem;
    line-height: 2;
    margin: 0;
    padding: 0;
    background-color: var(--blanco);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h2 {
    font-family: var(--fuenteSubtitulos), sans-serif;
    color: var(--negro);
    text-decoration: none;
    font-size: 2.4rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.header {
    width: 100%;
}

.header__top {
    background-color: var(--verdePrincipal);
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0.8rem;
}

.header__top .header__titulo a{
    text-decoration: none;
    color: inherit;
}

.header__logo {
    max-width: 5rem;
    margin-right: 2rem;
}

.header__titulo {
    font-family: var(--fuenteTitulo), sans-serif;
    font-size: 2.5rem;
    color: var(--blanco);
    font-weight: 700;
    text-align: center;
}

.header__nav {
    background-color: var(--verdeSecundario);
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

nav ul li {
    margin-right: 0;
}

li {
    max-width: 100%;
}

ul {
    gap: 20rem;
}

nav ul li a {
    color: var(--blanco);
    text-decoration: none;
    font-family: var(--fuenteBotones), sans-serif;
    font-weight: 500;
    font-size: 1.6rem; /* Tamaño del texto ajustado */
    padding: 0.8rem 1.5rem;
    display: block;
    text-align: center;
    width: 100%; /* Para que el hover ocupe todo el espacio */
}

nav ul li a:hover {
    background-color: var(--verdePrincipal); /* Cambia el color de fondo al hacer hover */
    color: var(--blanco);
}

.main-content {
    flex: 1;
    padding: 2rem;
    text-align: center;
}

.footer {
    background-color: var(--verdePrincipal);
    color: var(--blanco);
    text-align: center;
    padding: 0.5rem;
    width: 100%;
    font-family: var(--fuenteParrafos), serif;
    font-size: 1.5rem;
}

.btn {
    font-family: var(--fuenteBotones), sans-serif;
}

.btn-primary {
    background-color: var(--verdeSecundario);
    border-color: var(--verdeSecundario);
    color: var(--blanco);
}

.btn-primary:active:focus {
    background: var(--verdeSecundario);
    border-color: transparent;
}

.btn-primary:hover {
    background-color: var(--verdeBotonesCuadrados);
    border-color: var(--verdeBotonesCuadrados);
    color: var(--blanco);
}
