:root {
    --fuenteParrafos: 'Montserrat';
    --fuenteBotones: 'Montserrat';
    --fuenteTitulo: 'Poppins';
    --fuenteSubtitulos: 'Lexend';
    --blanco: #d9d9d9;
    --negro: #181818;
    --verdePrincipal: #0c3720;
    --verdeSecundario: #186D3D;
    --verdeBotonesCuadrados: #135731;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
    margin: 0;
    padding: 0;
    background-color: var(--blanco);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h2 {
    color: var(--negro);
    text-decoration: none;
    font-family: var(--fuenteSubtitulos);
}

.header {
    width: 100%;
}

.header__top {
    background-color: var(--verdePrincipal);
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0.8rem;
}

.header__logo {
    max-width: 5rem;
    margin-right: 2rem;
}

.header__titulo {
    font-family: var(--fuenteTitulo);
    font-size: 2.5rem;
    color: var(--blanco);
    font-weight: 700;
    text-align: center;
}

.header__nav {
    background-color: var(--verdeSecundario);
    padding: 0;
}

.nav-container {
    display: flex;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 0.5rem;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: var(--blanco);
    text-decoration: none;
    font-family: var(--fuenteBotones);
    font-weight: 500;
    font-size: 1.4rem;
    padding: 0.8rem 1.5rem;
    display: block;
    background-color: var(--verdeBotonesCuadrados);
}

nav ul li a:hover {
    background-color: var(--verdeSecundario);
    color: var(--blanco);
}

.main-content {
    flex: 1;
    padding: 2rem;
    text-align: center;
}

.footer {
    background-color: var(--verdePrincipal);
    color: var(--blanco);
    text-align: center;
    padding: 0.5rem;
    width: 100%;
    font-family: var(--fuenteParrafos);
    font-size: 1.5rem;
}