.header__buttons-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.header__buttons {
    display: flex;
    align-items: center;
}

.header__button {
    text-decoration: none;
    color: var(--blanco);
    background-color: var(--verdeSecundario);
    padding: 5px 15px;
    border-radius: 15px;
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
}

.header__button-underline {
    text-decoration: underline;
    color: var(--blanco);
    margin-right: 10px;
    font-size: 1.4rem;
}

.main-content {
    display: inline-flex;
}

.main-text{
    width: 65%;
}

.main-text p{
    color: var(--negro);
    text-decoration: none;
    font-style: var(--fuenteParrafos);
}

.images{
    display: block;
    justify-content: center;
    width: 35%;
}

.top-image{
    width: 50%;
}

.bottom-image{
    width: 50%;
}