.main-content {
    flex: 1;
    padding: 2rem;
    text-align: center;
}

.ini-container {
    margin-right: 30%;
    margin-left: 30%;
    background-color: #ffffff;
    border-color: grey;
    border-width: 0.2rem;
    border-radius: 1rem;
}

h2 {
    font-family: var(--fuenteSubtitulos), sans-serif;
    color: var(--negro);
    text-decoration: none;
    font-size: 2.4rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.form-label {
    color: var(--negro);
    text-decoration: none;
    font-family: var(--fuenteParrafos), sans-serif;
    font-size: 1.6rem;
}

.col-form-label {
    color: var(--negro);
    text-decoration: none;
    font-family: var(--fuenteParrafos), sans-serif;
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}

.form-label:first-child {
    margin-top: 1rem;
}

.check-container{
    margin-left: 5%;
    text-align: left;
}

.form-check {
    box-shadow: none;
}

.form-check-input {
    margin-right: 0.2rem;
}

.form-check-input:checked {
    background-color: var(--verdeSecundario);
    border-color: var(--verdeSecundario);
    box-shadow: none;
}

.form-check-input:focus {
    box-shadow: none;
    border-color: var(--blanco);
}

.form-control {
    width: 90%;
    margin-bottom: 1rem;
    margin-left: 5%;
    margin-right: 5%;
    border-color: var(--blanco);
}

.form-control:focus {
    box-shadow: none;
    border-color: var(--blanco);
}

.btn-primary {
    background-color: var(--verdeSecundario);
    font-size: 1.4rem;
    border-color: var(--verdeSecundario);
    color: var(--blanco);
}

.btn-primary:active:focus {
    background: var(--verdeSecundario);
    border-color: transparent;
}

.btn-primary:hover {
    background-color: var(--verdeBotonesCuadrados);
    border-color: var(--verdeBotonesCuadrados);
    color: var(--blanco);
}

.mx-auto{
    width: 90%;
    padding-bottom: 1.4rem;
}