h2 {
    float: left;
    margin-left: 1rem;
}

.main-content {
    flex: 1;
    padding: 2rem;
    text-align: left;
    margin-top: 10rem;
}

.list-group {
    display: flex;
    width: 30%;
    margin-inline: auto;
}

.list-group-item {
    color: var(--negro);
    text-decoration: none;
    font-family: var(--fuenteParrafos);
    font-weight: 400;
    font-size: 1.4rem;
}

.list-group p {
    margin-left: 1rem;
    font-size: 1.3rem;
    float: left;
    font-family: var(--fuenteParrafos);
    font-weight: 250;
}