{{#partial "estilo"}}
    <link rel="stylesheet" href="/css/registrarse.css">
    <!--SI, LO DEJE CON EL STYLE DE REGISTRARSE-->
{{/partial}}

{{#partial "cuerpo"}}
    <div class="container mt-5">
        <h2>Por favor agregue una direccion para poder realizar la colaboracion</h2>

        <form id="form-direccion" method="POST" action="/heladeras-solidarias/agregar-direccion">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="nombreDireccion" class="form-label">Nombre *</label>
                    <input name="nombreUbicacion" type="text" class="form-control" id="nombreDireccion"
                           placeholder="ej: Casa" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="provinciaJuridica" class="form-label">Provincia *</label>
                    <select name="provincia" class="form-select" id="provinciaJuridica" required>
                        <option value="" selected>Seleccione una provinicia</option>
                        {{#each provincias}}
                            <option value="{{this.getId}}">{{this.getNombreProvincia}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="ciudadJuridica" class="form-label">Ciudad *</label>
                    <input name="ciudad" type="text" class="form-control" id="ciudadJuridica"
                           placeholder="ej: CABA" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="barrioJuridica" class="form-label">Barrio *</label>
                    <input name="barrio" type="text" class="form-control" id="barrioJuridica"
                           placeholder="ej: Villa Crespo" required>
                </div>
            </div><div class="row">
            <div class="col-md-6 mb-3">
                <label for="calleJuridica" class="form-label">Calle *</label>
                <input name="calle" type="text" class="form-control" id="calleJuridica"
                       placeholder="ej: Malabia" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="numeroJuridico" class="form-label">Numero *</label>
                <input name="numero" type="text" class="form-control" id="numeroJuridico"
                       placeholder="ej: 500" required>
            </div>
        </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>

    </div>
{{/partial}}

{{#partial "scripts"}}
{{/partial}}

{{> templates/base }}