<!-- //TODO BORRAR-->

{{#partial "estilo"}}
    <link rel="stylesheet" href="/css/baja-heladera.css">
{{/partial}}

{{#partial "cuerpo"}}
    <div class="container mt-5">
        <form>
            <div class="row mb-3">
                <div class="col-md-12">
                    <label for="selectHeladera" class="form-label">Selecciona la Heladera a Dar de
                        Baja *</label>
                    <select id="selectHeladera" class="form-select" required>
                        <option value="" disabled selected>Seleccione una heladera</option>
                        <option value="heladera1">Heladera 1</option>
                        <option value="heladera2">Heladera 2</option>
                        <option value="heladera3">Heladera 3</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-12">
                    <label for="razonBaja" class="form-label">Razón de la Baja</label>
                    <textarea id="razonBaja" class="form-control" rows="4"
                              placeholder="Ingrese la razón de la baja (opcional)"></textarea>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-12 d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary btn-lg">Dar de Baja</button>
                </div>
            </div>
        </form>
    </div>
{{/partial}}

{{#partial "scripts"}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-g2Q2bAmzqopHLmj10EIXSL94up6E4Z0+8+2M+JTXtyizfG34z2qa60mu8GxVd+hg"
            crossorigin="anonymous"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.querySelector('form');

            form.addEventListener('submit', function (event) {
                if (!confirm('¿Estás seguro de que querés dar de baja esta heladera?')) {
                    event.preventDefault(); // Previene el envío del formulario si el usuario cancela
                }
            });
        });
    </script>
{{/partial}}

{{> templates/base }}