{{#partial "estilo"}}
    <link rel="stylesheet" href="css/canjear-puntos.css">
{{/partial}}

{{#partial "cuerpo"}}
    <div class="main-content__titulo">
        <h2>Puntos Acumulados:</h2>
        <h2>XXXX</h2>
    </div>

    <div class="services-container" id="services-container"></div>
{{/partial}}

{{#partial "scripts"}}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const servicesData = [
            {
                imgSrc: 'imgs/logo.png',
                name: 'Servicio 1',
                description: 'Descripción 1',
                points: 'X pts'
            },
            {
                imgSrc: 'imgs/logo.png',
                name: 'Servicio 2',
                description: 'Descripción 2',
                points: 'X pts'
            },
            {
                imgSrc: 'imgs/logo.png',
                name: 'Servicio 3',
                description: 'Descripción 3',
                points: 'X pts'
            },
            {
                imgSrc: 'imgs/logo.png',
                name: 'Servicio 4',
                description: 'Descripción 4',
                points: 'X pts'
            },
            {
                imgSrc: 'imgs/logo.png',
                name: 'Servicio 5',
                description: 'Descripción 5',
                points: 'X pts'
            },
            {
                imgSrc: 'imgs/logo.png',
                name: 'Servicio 6',
                description: 'Descripción 6',
                points: 'X pts'
            },
            {
                imgSrc: 'imgs/logo.png',
                name: 'Servicio 7',
                description: 'Descripción 7',
                points: 'X pts'
            },
            {
                imgSrc: 'imgs/logo.png',
                name: 'Servicio 8',
                description: 'Descripción 8',
                points: 'X pts'
            },
            {
                imgSrc: 'imgs/logo.png',
                name: 'Servicio 9',
                description: 'Descripción 9',
                points: 'X pts'
            },
            {
                imgSrc: 'imgs/logo.png',
                name: 'Servicio 10',
                description: 'Descripción 10',
                points: 'X pts'
            },
            {
                imgSrc: 'imgs/logo.png',
                name: 'Servicio 11',
                description: 'Descripción 11',
                points: 'X pts'
            },
            {
                imgSrc: 'imgs/logo.png',
                name: 'Servicio 12',
                description: 'Descripción 12',
                points: 'X pts'
            },
            {
                imgSrc: 'imgs/logo.png',
                name: 'Servicio 13',
                description: 'Descripción 13',
                points: 'X pts'
            },
            {
                imgSrc: 'imgs/logo.png',
                name: 'Servicio 14',
                description: 'Descripción 14',
                points: 'X pts'
            },
            {
                imgSrc: 'imgs/logo.png',
                name: 'Servicio 15',
                description: 'Descripción 15',
                points: 'X pts'
            },
            {
                imgSrc: 'imgs/logo.png',
                name: 'Servicio 16',
                description: 'Descripción 16',
                points: 'X pts'
            }
        ];

        const servicesContainer = document.getElementById('services-container');

        servicesData.forEach(service => {
            const serviceElement = document.createElement('div');
            serviceElement.classList.add('service-rectangle');

            serviceElement.innerHTML = `
            <img src="${service.imgSrc}" alt="Service Image" class="service-image">
            <p class="service-name">${service.name}</p>
            <p class="service-description">${service.description}</p>
            <p class="service-points"> ${service.points} <span class="redeem-button">Canjear</span></p>`;

            servicesContainer.appendChild(serviceElement);
        });
    });
</script>
{{/partial}}

{{> templates/base }}