{{#partial "estilo"}}
    <link rel="stylesheet" href="/css/cargar-csv.css">
{{/partial}}

{{#partial "cuerpo"}}
    <h2>Cargar archivo CSV</h2>
    <form method="POST" enctype="multipart/form-data">
        <input class="form-control form-control-lg" type="file" name="csv" required>
        <button type="submit" class="btn btn-primary">Subir</button>
    </form>

{{/partial}}

{{> templates/base }}
