{{#partial "estilo"}}
    <link rel="stylesheet" href="/css/cargar-csv.css">
{{/partial}}

{{#partial "cuerpo"}}
    <h2>Cargar archivo CSV</h2>
    <input class="form-control form-control-lg" type="file">
    <button type="submit" class="btn btn-primary">Subir</button>
{{/partial}}

{{> templates/base }}
