{{#partial "estilo"}}
    <link rel="stylesheet" href="/css/confirmar-direccion.css">
{{/partial}}

{{#partial "cuerpo"}}

    <!-- Formulario para Confirmar Dirección -->
    <div id="confirmar_direccion" class="action-form confirmar-direccion-form">
        <h3>Confirmar Dirección</h3>
        <form class="formulario">
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="provincia" class="form-label extra-class">Provincia</label>
                    <select class="form-select" id="provinciaSelector" aria-label="Default select example">
                        <option selected>Seleccione una Provincia</option>
                        <option value="caba">CABA</option>
                        <option value="buenos_aires">Buenos Aires</option>
                        <option value="corrientes">Corrientes</option>
                        <option value="rosario">Rosario</option>
                        <option value="santa_cruz">Santa Cruz</option>
                        <option value="tierra_fuego">Tierra del Fuego</option>
                        <option value="entre_rios">Entre Rios</option>
                        <option value="mendoza">Mendoza</option>
                        <option value="jujuy">Jujuy</option>
                        <option value="la_rioja">La Rioja</option>
                    </select>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="barrio" class="form-label extra-class">Barrio</label>
                    <select class="form-select" id="monthSelection" aria-label="Default select example">
                        <option selected>Seleccione un Barrio</option>
                        <option value="devoto">Villa Devoto</option>
                        <option value="almagro">Almagro</option>
                        <option value="palermo">Palermo</option>
                        <option value="nunez">Núñez</option>
                    </select>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="ciudad" class="form-label extra-class">Ciudad</label>
                    <input type="text" class="form-control form-control-lg" id="ciudad"
                           placeholder="Ej. Buenos Aires" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="direccion" class="form-label extra-class">Dirección (Calle y
                        Número)</label>
                    <input type="text" class="form-control form-control-lg" id="direccion"
                           placeholder="Ej. Malabia 500" required>
                </div>
            </div>
            <button type="submit" class="btn btn-success btn-lg">Confirmar</button>
        </form>
    </div>
{{/partial}}

{{> templates/base }}