{{#partial "estilo"}}
    <link rel="stylesheet" href="/css/colaborar.css">
    <link rel="stylesheet" href="/css/heladeras.css">
{{/partial}}

{{#partial "cuerpo"}}
    <div class="container chico">
        <h2 class="arribita">Heladeras</h2>
        <div class="mb-3 containerPrincipal chico">
            <label for="actionSelector" class="form-label chico">Elige una acción</label>
            <select class="form-select form-select-lg chico" id="actionSelector">
                <option value="" selected>Elija una opción</option>
                {{#verifyRole tipoRol "PERSONA_FISICA"}}
                    <option value="suscribirse">Suscribirse</option>
                    <option value="reportarFalla">Reportar Falla Técnica</option>
                {{/verifyRole}}
                {{#verifyRole tipoRol "PERSONA_JURIDICA"}}
                    <option value="recomendaciones">Solicitar Recomendación</option>
                {{/verifyRole}}
            </select>
        </div>
    </div>

    <div id="suscribirse" class="suscribirse-content action-form d-none">
        <form class="probar" method="POST" action="/heladeras-solidarias/heladeras">
            <input type="hidden" name="formType" value="suscribirse">
            <div class="mb-3 primero">
                <div class = "mediano_s">
                    <label for="actionSelector" class="form-label chico">Elija una Heladera</label>
                    <select name="heladera" class="form-select form-select-lg chico" id="actionSelector" required>
                        <option value="" disabled selected>Seleccione una heladera</option>
                        {{#each heladeras}}
                            <option value="{{this.getId}}">{{this.getNombre}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>

            <label class="form-label">Notificarme si...</label>

            <div class="mb-3 form-check flex-container">
                <input name="faltan_n_viandas_check" value="FALTAN_N_VIANDAS" type="checkbox" class="form-check-input" id="faltan">
                <div class="flex-item">
                    <label for="faltan" class="col-form-label">Faltan X Viandas</label>
                </div>
                <input name="faltan_n_viandas" type="number" aria-label="cant_faltan" class="form-control flex-input alto"
                       placeholder="Ingrese la Cantidad de Viandas" min="0">
            </div>

            <div class="mb-3 form-check flex-container">
                <input name="quedan_n_viandas_check" value="QUEDAN_N_VIANDAS" type="checkbox" class="form-check-input" id="quedan">
                <div class="flex-item">
                    <label for="quedan" class="col-form-label">Quedan X Viandas</label>
                </div>
                <input name="quedan_n_viandas" type="number" aria-label="cant_quedan" class="form-control flex-input alto"
                       placeholder="Ingrese la Cantidad de Viandas" min="0">
            </div>

            <div class="mb-3 form-check">
                <input name="desperfecto" value ="OCURRIO_DESPERFECTO" type="checkbox" class="form-check-input" id="desperfecto">
                <label for="desperfecto" class="col-form-label">Ocurrió una Falla en la Heladera</label>
            </div>

            <div class="d-grid gap-2 col-6 mx-auto">
                <button type="submit" class="btn btn-primary">Suscribirse</button>
            </div>
        </form>
    </div>

    <div id="reportarFalla" class="suscribirse-content action-form d-none">
        <form class="probar" method="POST" action="/heladeras-solidarias/heladeras">
            <input type="hidden" name="formType" value="reportarFalla">
            <div class="mb-3 primero">
                <div class = "mediano_s">
                    <label for="actionSelector" class="form-label chico">Elija una Heladera</label>
                    <select name="heladera" class="form-select form-select-lg chico" id="actionSelector" required>
                        <option value="" disabled selected>Seleccione una heladera</option>
                        {{#each heladeras}}
                            <option value="{{this.getId}}">{{this.getNombre}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>

            <div class="algo">
                <label for="descripcion" class="form-label">Descripción</label>
                <textarea name="descripcion" id="descripcion" class="form-control"></textarea>
            </div>

            <div class="image-upload mb-3">
                <label for="imagen_reporte" class="form-label">Imagen</label>
                <input name="imagen" type="file" class="form-control form-control-lg" id="imagen_reporte">
            </div>

            <div class="d-grid gap-2 col-6 mx-auto">
                <button type="submit" class="btn btn-primary">Reportar</button>
            </div>

        </form>
    </div>

    <div id="recomendaciones" class="d-none action-form">
        <form id="recomendaciones" method="POST" action="/heladeras-solidarias/heladeras">
            <input type="hidden" name="formType" value="recomendaciones">
            <h3 class="h3-extra">Solicitud de recomendacion de puntos</h3>
            <div class="row justify-content-center">
                <div class="col-md-6 mb-3 kol">
                    <label for="lat" class="form-label">Latitud</label>
                    <input name="lat" type="text" class="form-control form-control-lg form-control-lg-col" id="lat" placeholder="Ingresar latitud" required>
                </div>
                <div class="col-md-6 mb-3 kol">
                    <label for="lng" class="form-label">Longitud</label>
                    <input name="lng" type="text" class="form-control form-control-lg form-control-lg-col" id="lng" placeholder="Ingresar longitud" required>
                </div>
            </div>
            <div class="row justify-content-center d-flex">
                <div class="rou justify-content-center">
                    <label for="rad" class="form-label form-label-final">Radio en Km</label>
                </div>
                <div class="rou justify-content-center">
                    <input name="rad" type="text" class="form-control form-control-lg" id="rad" placeholder="Ingresar radio en km" required>
                </div>
            </div>
            <div class="d-flex justify-content-center div-btn-que-no-anda">
                <button type="submit" class="btn btn-primary">Solicitar Puntos</button>
            </div>
        </form>
    </div>

{{/partial}}

{{#partial "scripts"}}
    <script>
        document.getElementById('actionSelector').addEventListener('change', function () {
            var selectedValue = this.value;
            if (selectedValue === "/heladeras-solidarias/recomendaciones" || selectedValue === "/heladeras-solidarias/heladeras") {
                window.location.href = selectedValue;
            }
        });
    </script>


    <script>
        document.getElementById('actionSelector').addEventListener('change', function () {
            var selectedValue = this.value;
            var actionForms = document.querySelectorAll('.action-form');

            actionForms.forEach(function (form) {
                if (form.id === selectedValue) {
                    form.classList.remove('d-none');
                } else {
                    form.classList.add('d-none');
                }
            });
        });
    </script>

    <script>
        function toggleRequired(checkbox, input) {
            input.required = checkbox.checked;
        }

        document.addEventListener('DOMContentLoaded', function () {
            const faltanCheckbox = document.getElementById('faltan');
            const faltanInput = document.querySelector('input[name="faltan_n_viandas"]');

            const quedanCheckbox = document.getElementById('quedan');
            const quedanInput = document.querySelector('input[name="quedan_n_viandas"]');

            faltanCheckbox.addEventListener('change', function () {
                toggleRequired(faltanCheckbox, faltanInput);
            });

            quedanCheckbox.addEventListener('change', function () {
                toggleRequired(quedanCheckbox, quedanInput);
            });
        });
    </script>
{{/partial}}

{{> templates/base}}
