{{#partial "estilo"}}
    <link rel="stylesheet" href="/css/home-page.css">
{{/partial}}

{{#partial "cuerpo"}}
    <main class="main-content">
        <div class="main-text">
            <h2>¿Quiénes Somos?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet lorem ac
                imperdiet volutpat. Suspendisse hendrerit tortor vel nulla euismod congue. Fusce in
                sapien vel erat tristique dapibus. Cras iaculis tellus ut nulla vulputate, et
                ultrices lectus bibendum. Vestibulum sit amet ante a enim consequat lobortis. Sed
                sit amet hendrerit nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Sed aliquet lorem ac imperdiet volutpat. Suspendisse hendrerit tortor vel nulla
                euismod congue. Fusce in sapien vel erat tristique dapibus. Cras iaculis tellus ut
                nulla vulputate, et ultrices lectus bibendum. Vestibulum sit amet ante a enim
                consequat lobortis. Sed sit amet hendrerit nulla.</p>
            <h2>¿Qué Hacemos?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet lorem ac
                imperdiet volutpat. Suspendisse hendrerit tortor vel nulla euismod congue. Fusce in
                sapien vel erat tristique dapibus. Cras iaculis tellus ut nulla vulputate, et
                ultrices lectus bibendum. Vestibulum sit amet ante a enim consequat lobortis. Sed
                sit amet hendrerit nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Sed aliquet lorem ac imperdiet volutpat. Suspendisse hendrerit tortor vel nulla
                euismod congue. Fusce in sapien vel erat tristique dapibus. Cras iaculis tellus ut
                nulla vulputate, et ultrices lectus bibendum. Vestibulum sit amet ante a enim
                consequat lobortis. Sed sit amet hendrerit nulla.</p>
            <h2>¿Cómo Contribuir?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet lorem ac
                imperdiet volutpat. Suspendisse hendrerit tortor vel nulla euismod congue. Fusce in
                sapien vel erat tristique dapibus. Cras iaculis tellus ut nulla vulputate, et
                ultrices lectus bibendum. Vestibulum sit amet ante a enim consequat lobortis. Sed
                sit amet hendrerit nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Sed aliquet lorem ac imperdiet volutpat. Suspendisse hendrerit tortor vel nulla
                euismod congue. Fusce in sapien vel erat tristique dapibus. Cras iaculis tellus ut
                nulla vulputate, et ultrices lectus bibendum. Vestibulum sit amet ante a enim
                consequat lobortis. Sed sit amet hendrerit nulla.</p>
        </div>
        <div class="images">
            <img src="/static-imgs/logo.png" alt="Logo" class="top-image">
            <img src="/static-imgs/logo.png" alt="Logo" class="bottom-image">
        </div>

        <!-- Modal Exito Colaboracion -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLongTitle">¡Colaboración
                            Exitosa!</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h4>Tu colaboración fue procesada con éxito. ¡Gracias por tu apoyo!</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Exito Suscribir -->
        <div class="modal fade" id="suscribirseBien" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLongTitle">¡Suscripción
                            Exitosa!</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h4>Tu suscripción fue procesada con éxito.</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Exito Vulnerable -->
        <div class="modal fade" id="vulnerableCreado" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLongTitle">¡Registro Exitoso!</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h4>El vulnerable fue registrado con éxito.</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal Exito Acciones Admin Heladera -->
        <div class="modal fade" id="accionExitosa" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLongTitle">¡Acción Exitosa!</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h4>La acción fue realizada con éxito.</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Exito CSV -->
        <div class="modal fade" id="csvExitoso" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLongTitle">¡Carga Exitosa!</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h4>El CSV fue cargado con éxito.</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Exito Canje -->
        <div class="modal fade" id="canjearBien" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLongTitle">¡Canje Exitoso!</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h4>El canje fue realizado correctamente!</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Exito al crear el form -->
        <div class="modal fade" id="formOK" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLongTitle">¡Formulario Creado!</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h4>El formulario ha sido creado correctamente.</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </main>
{{/partial}}

{{#partial "scripts"}}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Lee los parámetros de la URL
            const params = new URLSearchParams(window.location.search);

            // Si el parámetro "success" es "true", se muestra el modal
            if (params.get("colabSuccess") === "true") {
                $('#exampleModalCenter').modal('show');
            }

            if (params.get("actionSuccess") === "true") {
                $('#accionExitosa').modal('show');
            }

            if (params.get("suscribeSuccess") === "true") {
                $('#suscribirseBien').modal('show');
            }

            if (params.get("vulnerableCreated") === "true") {
                $('#vulnerableCreado').modal('show');
            }

            if (params.get("trade") === "true") {
                $('#canjearBien').modal('show');
            }

            if (params.get("csvSuccess") === "true") {
                $('#csvExitoso').modal('show');
            }

            if (params.get("formOK") === "true") {
                $('#formOK').modal('show');
            }

        });
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{{/partial}}


{{> templates/base }}
