{{#partial "estilo"}}
    <link rel="stylesheet" href="/css/home-page.css">
{{/partial}}

{{#partial "register-loggin"}}
    {{#if this.activeSession}}
        <div class="header__buttons-container">
            <div class="header__buttons">
                <a href="/heladeras-solidarias/cerrar-sesion" class="header__button">Cerrar Sesión</a>
            </div>
        </div>
    {{else}}
        <div class="header__buttons-container">
            <div class="header__buttons">
                <a href="/heladeras-solidarias/iniciar-sesion" class="header__button">Iniciar Sesión</a>
                <a href="/heladeras-solidarias/registrarse"
                   class="header__button-underline">Registrarse</a>
            </div>
        </div>
    {{/if}}
{{/partial}}

{{#partial "cuerpo"}}
    <main class="main-content">
        <div class="main-text">
            <h2>¿Quiénes Somos?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet lorem ac
                imperdiet volutpat. Suspendisse hendrerit tortor vel nulla euismod congue. Fusce in
                sapien vel erat tristique dapibus. Cras iaculis tellus ut nulla vulputate, et
                ultrices lectus bibendum. Vestibulum sit amet ante a enim consequat lobortis. Sed
                sit amet hendrerit nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Sed aliquet lorem ac imperdiet volutpat. Suspendisse hendrerit tortor vel nulla
                euismod congue. Fusce in sapien vel erat tristique dapibus. Cras iaculis tellus ut
                nulla vulputate, et ultrices lectus bibendum. Vestibulum sit amet ante a enim
                consequat lobortis. Sed sit amet hendrerit nulla.</p>
            <h2>¿Qué Hacemos?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet lorem ac
                imperdiet volutpat. Suspendisse hendrerit tortor vel nulla euismod congue. Fusce in
                sapien vel erat tristique dapibus. Cras iaculis tellus ut nulla vulputate, et
                ultrices lectus bibendum. Vestibulum sit amet ante a enim consequat lobortis. Sed
                sit amet hendrerit nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Sed aliquet lorem ac imperdiet volutpat. Suspendisse hendrerit tortor vel nulla
                euismod congue. Fusce in sapien vel erat tristique dapibus. Cras iaculis tellus ut
                nulla vulputate, et ultrices lectus bibendum. Vestibulum sit amet ante a enim
                consequat lobortis. Sed sit amet hendrerit nulla.</p>
            <h2>¿Cómo Contribuir?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet lorem ac
                imperdiet volutpat. Suspendisse hendrerit tortor vel nulla euismod congue. Fusce in
                sapien vel erat tristique dapibus. Cras iaculis tellus ut nulla vulputate, et
                ultrices lectus bibendum. Vestibulum sit amet ante a enim consequat lobortis. Sed
                sit amet hendrerit nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Sed aliquet lorem ac imperdiet volutpat. Suspendisse hendrerit tortor vel nulla
                euismod congue. Fusce in sapien vel erat tristique dapibus. Cras iaculis tellus ut
                nulla vulputate, et ultrices lectus bibendum. Vestibulum sit amet ante a enim
                consequat lobortis. Sed sit amet hendrerit nulla.</p>
        </div>
        <div class="images">
            <img src="/static-imgs/logo.png" alt="Logo" class="top-image">
            <img src="/static-imgs/logo.png" alt="Logo" class="bottom-image">
        </div>
    </main>
{{/partial}}

{{> templates/base }}
