{{#partial "estilo"}}
    <link rel="stylesheet" href="css/home-page.css">
{{/partial}}

{{#partial "register-loggin"}}
    <div class="header__buttons-container">
        <div class="header__buttons">
            <a href="/heladerasSolidarias/iniciarSesion" class="header__button">Iniciar Sesión</a>
            <a href="/heladerasSolidarias/registrarse" class="header__button-underline">Registrarse</a>
        </div>
    </div>
{{/partial}}

{{#partial "cuerpo"}}
<main class="main-content">
    <div class="main-text">
        <h2>¿Quiénes Somos?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet  lorem ac imperdiet volutpat. Suspendisse hendrerit tortor vel nulla euismod congue. Fusce in sapien vel  erat tristique dapibus. Cras iaculis tellus ut nulla vulputate, et ultrices lectus bibendum. Vestibulum sit  amet ante a enim consequat lobortis. Sed sit amet hendrerit nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet lorem ac imperdiet volutpat. Suspendisse hendrerit tortor vel nulla euismod congue. Fusce in sapien vel  erat tristique dapibus. Cras iaculis tellus ut   nulla vulputate, et ultrices lectus bibendum. Vestibulum sit  amet ante a enim consequat lobortis. Sed sit amet hendrerit nulla.</p>
        <h2>¿Qué Hacemos?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet  lorem ac imperdiet volutpat. Suspendisse hendrerit tortor vel nulla euismod congue. Fusce in sapien vel  erat tristique dapibus. Cras iaculis tellus ut nulla vulputate, et ultrices lectus bibendum. Vestibulum sit  amet ante a enim consequat lobortis. Sed sit amet hendrerit nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet lorem ac imperdiet volutpat. Suspendisse hendrerit tortor vel nulla euismod congue. Fusce in sapien vel  erat tristique dapibus. Cras iaculis tellus ut   nulla vulputate, et ultrices lectus bibendum. Vestibulum sit  amet ante a enim consequat lobortis. Sed sit amet hendrerit nulla.</p>
        <h2>¿Cómo Contribuir?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet  lorem ac imperdiet volutpat. Suspendisse hendrerit tortor vel nulla euismod congue. Fusce in sapien vel  erat tristique dapibus. Cras iaculis tellus ut nulla vulputate, et ultrices lectus bibendum. Vestibulum sit  amet ante a enim consequat lobortis. Sed sit amet hendrerit nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet lorem ac imperdiet volutpat. Suspendisse hendrerit tortor vel nulla euismod congue. Fusce in sapien vel  erat tristique dapibus. Cras iaculis tellus ut   nulla vulputate, et ultrices lectus bibendum. Vestibulum sit  amet ante a enim consequat lobortis. Sed sit amet hendrerit nulla.</p>
    </div>
    <div class="images"> 
        <img src="imgs/logo.png" alt="Logo" class="top-image">
        <img src="imgs/logo.png" alt="Logo" class="bottom-image">
    </div>
</main>
{{/partial}}

{{> templates/base }}
