{{#partial "estilo"}}
    <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="stylesheet"
          href= "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity= "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/iniciar-sesion.css">
{{/partial}}

{{#partial "cuerpo"}}
    <h2>Iniciar Sesi칩n</h2>
    <div class="ini-container">
        <form id="myForm" method="POST" action="/heladeras-solidarias/iniciar-sesion">
            <div class="mb-3">
                <label for="nombreUsuario" class="form-label">Nombre de usuario</label>
                <input name="nombreUsuario" type="text" class="form-control form-control-lg" id="nombreUsuario"
                       placeholder="Ingrese nombre de usuario">
            </div>
            <div class="mb-3 position-relative">
                <label for="contrasenia" class="form-label">Contrase침a</label>
                <input name = "contrasenia" type="password" class="form-control form-control-lg"
                       id="contrasenia" placeholder="Ingrese contrase침a">
                <i class="bi bi-eye-slash" id="togglePassword"
                   style="position: absolute; top: 65%; right: 3rem; transform: translateY(-15%); cursor: pointer;"></i>
            </div>

            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </symbol>
            </svg>

            {{#if error}}
                <div class="alert alert-danger d-flex align-items-center alerta" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="18" height="18" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                    <div>
                        <h5>{{error}}</h5>
                    </div>
                </div>
            {{/if}}

            <div class="d-grid mx-auto">
                <button type="submit" class="btn btn-primary">Iniciar Sesi칩n</button>
            </div>
        </form>
    </div>
{{/partial}}

{{#partial "scripts"}}
    <script>
        const togglePassword = document.querySelector('#togglePassword');
        const password = document.querySelector('#contrasenia');

        togglePassword.addEventListener('click', () => {
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);
            togglePassword.classList.toggle('bi-eye');
            togglePassword.classList.toggle('bi-eye-slash');
        });
    </script>

{{/partial}}

{{> templates/base }}