{{#partial "estilo"}}
    <link rel="stylesheet" href="/css/mapa.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
{{/partial}}

{{#partial "cuerpo"}}
    <h2>Mapa de Heladeras</h2>
    <div id="map"></div>
{{/partial}}

{{#partial "scripts"}}
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
        const map = L.map('map').setView([51.505, -0.09], 13);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        let lugar, lat, long, marker, markers = [];

            {{#each heladeras}}
            lugar = "{{this.direccion.nombreUbicacion}}";
            lat = parseFloat({{this.direccion.latitud}});
            long = parseFloat({{this.direccion.longitud}});
            marker = L.marker([lat, long]).addTo(map)
                    .bindPopup('<b>' + lugar + '</b>');
            markers.push(marker)
            {{/each}}

        const group = L.featureGroup(markers);
        map.fitBounds(group.getBounds());
    </script>
{{/partial}}

{{> templates/base}}
