{{#partial "estilos"}}
    <link rel="stylesheet" href="css/modificar-heladera.css">
{{/partial}}

{{#partial "cuerpo"}}
        <div class="container mt-5">
            <h2>Modificar Heladera</h2>
    
            <!-- Formulario de Modificación de Heladera -->
            <form>
                    <div class="fila">
                        <label for="selectHeladera" class="form-label">Selecciona la Heladera a Modificar *</label>
                        <select id="selectHeladera" class="form-select" required>
                            <option value="" disabled selected>Seleccione una heladera</option>
                            <option value="heladera1">Heladera 1</option>
                            <option value="heladera2">Heladera 2</option>
                            <option value="heladera3">Heladera 3</option>
                        </select>
                    </div>
                
                <!-- Detalles de la Heladera -->

                <div class="fila columnas">
                    <div class="col">
                        <div class="form-group">
                            <label for="nombreHeladera" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="nombreHeladera" placeholder="Ingresar nombre de la heladera">
                        </div>
                        <div class="form-group">
                            <label for="minTempHeladera" class="form-label">Temperatura Mínima</label>
                            <input type="number" class="form-control" id="minTempHeladera" placeholder="Ingresar temperatura mínima">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="direccionHeladera" class="form-label">Dirección</label>
                            <input type="text" class="form-control" id="direccionHeladera" placeholder="Ingresar dirección de la heladera">
                        </div>
                        <div class="form-group">
                            <label for="maxTempHeladera" class="form-label">Temperatura Máxima</label>
                            <input type="number" class="form-control" id="maxTempHeladera" placeholder="Ingresar temperatura máxima">
                        </div>
                    </div>
                </div>

                    <div class="fila">
                        <label for="modeloHeladera" class="form-label">Modelo de la Heladera</label>
                        <input type="text" class="form-control" id="modeloHeladera" placeholder="Ingresar modelo de la heladera">
                    </div>

                    <div class="fila">
                        <label for="razonModificacion" class="form-label">Razón de la Modificación</label>
                        <textarea id="razonModificacion" class="form-control" rows="4" placeholder="Ingrese la razón de la modificación (opcional)"></textarea>
                    </div>

                    <div class="fila d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary btn-lg">Modificar Heladera</button>
                    </div>
            </form>
        </div>
{{/partial}}

{{#partial "scripts"}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-g2Q2bAmzqopHLmj10EIXSL94up6E4Z0+8+2M+JTXtyizfG34z2qa60mu8GxVd+hg" crossorigin="anonymous"></script>
{{/partial}}
