{{#partial "estilo"}}
    <link rel="stylesheet" href="/css/mapa.css">
{{/partial}}

{{#partial "cuerpo"}}
    <h2>Recomendacion de Puntos</h2>
    <div id="map"></div>
{{/partial}}

{{#partial "scripts"}}
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
        const map = L.map('map').setView([51.505, -0.09], 13);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        let lugar, lat, long, marker, markers = [];

            {{#each puntos}}
            <!-- lugar = { {this.nombreUbicacion} }; -->
            lat = parseFloat({{this.lat}});
            long = parseFloat({{this.lon}});
            marker = L.marker([lat, long]).addTo(map)
            markers.push(marker)
            {{/each}}

        const group = L.featureGroup(markers);
        map.fitBounds(group.getBounds());
    </script>

    <script>
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                    function(position) {
                        let lat = position.coords.latitude;
                        let lon = position.coords.longitude;

                        // Ahora envía la ubicación al backend
                        enviarUbicacionAlBackend(lat, lon);
                    },
                    function(error) {
                        console.error("Error obteniendo la ubicación", error);
                    }
            );
        } else {
            console.log("La geolocalización no es soportada en este navegador.");
        }

        function enviarUbicacionAlBackend(lat, lon) {
            fetch('/heladeras-solidarias/recomendaciones', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ lat: lat, lon: lon }),
            })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Recomendaciones recibidas:', data);
                        // Aquí puedes procesar las recomendaciones recibidas
                    })
                    .catch((error) => {
                        console.error('Error enviando la ubicación:', error);
                    });
        }
    </script>

{{/partial}}

{{> templates/base }}
