{{#partial "estilo"}}
    <link rel="stylesheet" href="/css/iniciar-sesion.css">
{{/partial}}

{{#partial "cuerpo"}}
    <h2>Registrarse</h2>
    <div class="ini-container">
        <form method="POST" action="/heladeras-solidarias/registrarse-usuario">
            <div class="mb-3">
                <label for="nombreUsuario" class="form-label">Nombre de usuario *</label>
                <input name="nombreUsuario" type="text" class="form-control form-control-lg" id="nombreUsuario"
                       placeholder="Ingrese nombre de usuario" required>
            </div>
            <div class="mb-3">
                <label for="contrasenia" class="form-label">Contraseña *</label>
                <input name = "contrasenia" type="password" class="form-control form-control-lg"
                       id="contrasenia" placeholder="Ingrese contraseña" required>
            </div>
            <div class="d-grid mx-auto">
                <button type="submit" class="btn btn-primary">Registrarse</button>
            </div>
            {{#if error}}
                <div class="error-message" style="color:red;">{{error}}</div>
            {{/if}}
        </form>
    </div>
{{/partial}}

{{> templates/base }}