{{#partial "estilo"}}
    <link rel="stylesheet" href="/css/registrarse.css">
{{/partial}}

{{#partial "cuerpo"}}
    <div class="container mt-5">
        <h2>Registro</h2>
        <div class="d-flex justify-content-end mb-3">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="personaToggle" >
                <label class="form-check-label" for="personaToggle">Persona Jurídica</label>
            </div>
        </div>

        <!-- Formulario Persona Jurídica -->
        <form id="form-juridica" class="d-none">
            <input type="hidden" name="tipoColaborador" value="JURIDICO">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="nombreUsuarioJuridico" class="form-label">Nombre de Usuario *</label>
                    <input name="usuarioJuridico" type="text" class="form-control" id="nombreUsuarioJuridico"
                           placeholder="Ingresar nombre de usuario" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="contraseniaJuridico" class="form-label">Contraseña *</label>
                    <input name="contraseniaJuridico" type="text" class="form-control" id="contraseniaJuridico"
                           placeholder="Ingresar contraseña" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="nombreEmpresa" class="form-label">Nombre *</label>
                    <input type="text" class="form-control" id="nombreEmpresa"
                           placeholder="Ingresar nombre" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="razonSocial" class="form-label">Razón Social *</label>
                    <input type="text" class="form-control" id="razonSocial"
                           placeholder="Ingresar razón social" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="tipo" class="form-label">Tipo *</label>
                    <input type="text" class="form-control" id="tipo" placeholder="Ingresar tipo"
                           required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="rubro" class="form-label">Rubro *</label>
                    <input type="text" class="form-control" id="rubro" placeholder="Ingresar rubro"
                           required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="correoJuridica" class="form-label">Correo electrónico *</label>
                    <input type="email" class="form-control" id="correoJuridica"
                           placeholder="ejemplo@correo.com" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="tipoContactoJuridica" class="form-label">Tipo de Contacto</label>
                    <select class="form-select" id="tipoContactoJuridica">
                        <option selected>Teléfono</option>
                        <option value="1">Email</option>
                        <option value="2">Otro</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="contactoJuridica" class="form-label">Contacto</label>
                    <input type="text" class="form-control" id="contactoJuridica"
                           placeholder="ej: 1122334455">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="provinciaJuridica" class="form-label">Provincia</label>
                    <select class="form-select" id="provinciaJuridica">
                        <option selected>Buenos Aires</option>
                        <option value="1">Otra</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="ciudadJuridica" class="form-label">Ciudad</label>
                    <input type="text" class="form-control" id="ciudadJuridica"
                           placeholder="ej: CABA">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="barrioJuridica" class="form-label">Barrio</label>
                    <input type="text" class="form-control" id="barrioJuridica"
                           placeholder="ej: Villa Crespo">
                </div>
            </div><div class="row">
            <div class="col-md-6 mb-3">
                <label for="calleJuridica" class="form-label">Calle</label>
                <input type="text" class="form-control" id="calleJuridica"
                       placeholder="ej: Malabia">
            </div>
            <div class="col-md-6 mb-3">
                <label for="numeroJuridico" class="form-label">Numero</label>
                <input type="text" class="form-control" id="numeroJuridico"
                       placeholder="ej: 500">
            </div>
        </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Registrar</button>
            </div>
        </form>

        <!-- Formulario Persona Física -->
        <form id="form-fisica">
            <input type="hidden" name="tipoColaborador" value="FISICO">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="nombreUsuarioFisico" class="form-label">Nombre de Usuario *</label>
                    <input name="usuarioFisico" type="text" class="form-control" id="nombreUsuarioFisico"
                           placeholder="Ingresar nombre de usuario" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="contraseniaFisico" class="form-label">Contraseña *</label>
                    <input name="contraseniaFisico" type="text" class="form-control" id="contraseniaFisico"
                           placeholder="Ingresar contraseña" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="nombreFisica" class="form-label">Nombre *</label>
                    <input name="nombreFisica" type="text" class="form-control" id="nombreFisica"
                           placeholder="Ingresar nombre" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="apellidoFisica" class="form-label">Apellido *</label>
                    <input name="apellidoFisica" type="text" class="form-control" id="apellidoFisica"
                           placeholder="Ingresar apellido" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="tipoDocumentoFisica" class="form-label">Tipo de Documento *</label>
                    <select name="tipoDocFisica" class="form-select" id="tipoDocumentoFisica">
                        <option selected value="dni">DNI</option>
                        <option value="lc">LC</option>
                        <option value="le">LE</option>
                    </select>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="numeroDocumentoFisica" class="form-label">Nro de Documento *</label>
                    <input name="nroDocFisica" type="text" class="form-control" id="numeroDocumentoFisica"
                           placeholder="Ingrese sin puntos ni espacios" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="correoFisica" class="form-label">Correo electrónico *</label>
                    <input type="email" class="form-control" id="correoFisica"
                           placeholder="ejemplo@correo.com">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="tipoContactoFisica" class="form-label">Tipo de Contacto</label>
                    <select class="form-select" id="tipoContactoFisica">
                        <option selected>Teléfono</option>
                        <option value="1">Email</option>
                        <option value="2">Otro</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="contactoFisica" class="form-label">Contacto</label>
                    <input type="text" class="form-control" id="contactoFisica"
                           placeholder="ej: 1122334455">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="provinciaFisica" class="form-label">Provincia</label>
                    <select class="form-select" id="provinciaFisica">
                        <option selected>Buenos Aires</option>
                        <option value="1">Otra</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="ciudadFisica" class="form-label">Ciudad</label>
                    <input type="text" class="form-control" id="ciudadFisica"
                           placeholder="ej: CABA">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="barrioFisica" class="form-label">Barrio</label>
                    <input type="text" class="form-control" id="barrioFisica"
                           placeholder="ej: Villa Crespo">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="calleFisica" class="form-label">Calle</label>
                    <input type="text" class="form-control" id="calleFisica"
                           placeholder="ej: Malabia">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="numeroFisico" class="form-label">Numero</label>
                    <input type="text" class="form-control" id="numeroFisico"
                           placeholder="ej: 411">
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary btn-lg">Registrar</button>
            </div>
        </form>
    </div>
{{/partial}}

{{#partial "scripts"}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-g2Q2bAmzqopHLmj10EIXSL94up6E4Z0+8+2M+JTXtyizfG34z2qa60mu8GxVd+hg"
            crossorigin="anonymous"></script>
    <script>
        document.getElementById('personaToggle').addEventListener('change', function () {
            var juridicaForm = document.getElementById('form-juridica');
            var fisicaForm = document.getElementById('form-fisica');
            if (this.checked) {
                juridicaForm.classList.remove('d-none');
                fisicaForm.classList.add('d-none');
            } else {
                juridicaForm.classList.add('d-none');
                fisicaForm.classList.remove('d-none');
            }
        });
    </script>
{{/partial}}

{{> templates/base }}