{{#partial "estilo"}}
    <link rel="stylesheet" href="/css/reportes.css">
{{/partial}}

{{#partial "cuerpo"}}
    <div class="list-group">
        <h2>Últimos Reportes</h2>
        {{#each reportes}}
            <a href="{{this.path}}"
               download="{{this.nombre}}"
               class="list-group-item top-item list-group-item-action">{{this.nombre}}</a>
        {{/each}}
        <p>Haga click para descargar</p>
    </div>

    <form method="POST" action="/heladeras-solidarias/reportes">
        <div><label class="form-label"> O solicite los reportes de... </label></div>
        <div class="selector">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="fechaInicial" class="form-label">Fecha Inicial</label>
                    <input name="fechaInicial" type="date" class="form-control"
                           id="fechaInicial" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="fechaFinal" class="form-label">Fecha Final</label>
                    <input name="fechaFinal" type="date" class="form-control"
                           id="fechaFinal" required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Pedir reportes</button>
        </div>
    </form>

{{/partial}}

{{#partial "scripts"}}
    <script>
        document.querySelector('form').addEventListener('submit', function (event) {
            var fechaInicial = new Date(document.getElementById('fechaInicial').value);
            var fechaFinal = new Date(document.getElementById('fechaFinal').value);

            if (fechaInicial >= fechaFinal) {
                event.preventDefault();
                alert('La fecha inicial debe ser anterior a la fecha final.');
            }
        });
    </script>
{{/partial}}


{{> templates/base}}
