{{#partial "estilos"}}
    <link rel="stylesheet" type="text/css" href="css/base.css">
    <link rel="stylesheet" href="css/reportes.css">
{{/partial}}

{{#partial "cuerpo"}}
    <div class="list-group">
        <h2>Últimos Reportes</h2>
            {{#each reportes}}
        <a href="#" class="list-group-item top-item list-group-item-action">reporte-semana-{{this.fecha}}.pdf</a>
            {{/each}}
        <p>Haga click para descargar</p>
    </div>

    <div class="selector">
        <div class = "left"><label for="monthSelection" class="form-label"> O solicite los reportes de... </label></div>
        <select class="form-select" id="monthSelection" aria-label="Default select example">
            <option selected>Seleccione un mes</option>
            <option value="1">Enero</option>
            <option value="2">Febrero</option>
            <option value="3">Marzo</option>
            <option value="3">Abril</option>
            <option value="3">Mayo</option>
            <option value="3">Junio</option>
            <option value="3">Julio</option>
            <option value="3">Agosto</option>
            <option value="3">Septiembre</option>
            <option value="3">Octubre</option>
            <option value="3">Noviembre</option>
            <option value="3">Diciembre</option>
        </select>
        
        <button type="submit" class="btn btn-primary">Pedir reportes</button>
    </div>
{{/partial}}
