{{#partial "estilo"}}
    <link rel="stylesheet" href="/css/reportes.css">
{{/partial}}

{{#partial "cuerpo"}}
    <div class="list-group">
        <h2>Últimos Reportes</h2>
        {{#each reportes}}
            <a href="{{this.path}}"
               download="{{this.nombre}}"
               class="list-group-item top-item list-group-item-action">{{this.nombre}}</a>
        {{/each}}
        <p>Haga click para descargar</p>
    </div>

    <form method="POST" action="/heladeras-solidarias/reportes">
        <div><label class="form-label"> O solicite los reportes de... </label></div>
        <div class="selector">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="fechaInicial" class="form-label">Fecha Inicial</label>
                    <input name="fechaInicial" type="date" class="form-control"
                           id="fechaInicial" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="fechaFinal" class="form-label">Fecha Final</label>
                    <input name="fechaFinal" type="date" class="form-control"
                           id="fechaFinal" required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Pedir reportes</button>
        </div>
    </form>

    <div class="modal fade" id="errorFechas" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLongTitle">¡Ups! Surgió un Problema</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4 id="mensajeError">No existen reportes entre las
                                                fechas elegidas. Inténtalo de Nuevo</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

{{/partial}}

{{#partial "scripts"}}
    <script>
        document.querySelector('form').addEventListener('submit', function (event) {
            var fechaInicial = new Date(document.getElementById('fechaInicial').value);
            var fechaFinal = new Date(document.getElementById('fechaFinal').value);

            if (fechaInicial >= fechaFinal) {
                event.preventDefault();
                alert('La fecha inicial debe ser anterior a la fecha final.');
            }
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Lee los parámetros de la URL
            const params = new URLSearchParams(window.location.search);

            // Si el parámetro "success" es "true", mostramos el modal
            if (params.get("emptyDates") === "true") {
                $('#errorFechas').modal('show');
            }
        });
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{{/partial}}


{{> templates/base}}
