<!-- //TODO BORRAR-->

{{#partial "estilo"}}
    <link rel="stylesheet" href="/css/suscribirse.css">
{{/partial}}

{{#partial "cuerpo"}}
    <h2>Suscribirse a una Heladera</h2>
    <form>
        <div class="mb-3 primero">
            <div class="mediano_s">
                <label for="nombre" class="form-label">Nombre de la Heladera</label>
                <input class="form-control form-control-lg" list="datalistOptions" id="nombre"
                       placeholder="Escriba para buscar...">
            </div>
            <datalist id="datalistOptions">
                <option value="Heladera Medrano">
                <option value="Heladera Lugano 1">
                <option value="Heladera Lugano 2">
                <option value="Heladera Douglas">
                <option value="Heladera promocione operativos">
                <option value="Heladera promocione fisica2 tmb">
            </datalist>
        </div>

        <label class="form-label">Notificarme si...</label>

        <div class="mb-3 form-check flex-container">
            <input type="checkbox" class="form-check-input" id="faltan">
            <div class="flex-item">
                <label for="faltan" class="col-form-label">Faltan X Viandas</label>
            </div>
            <input type="text" aria-label="cant_faltan" class="form-control flex-input"
                   placeholder="Ingrese la Cantidad de Viandas">
        </div>

        <div class="mb-3 form-check flex-container">
            <input type="checkbox" class="form-check-input" id="quedan">
            <div class="flex-item">
                <label for="quedan" class="col-form-label">Quedan X Viandas</label>
            </div>
            <input type="text" aria-label="cant_quedan" class="form-control flex-input"
                   placeholder="Ingrese la Cantidad de Viandas">
        </div>

        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="falla">
            <label for="falla" class="col-form-label">Ocurrió una Falla en la Heladera</label>
        </div>

        <div class="d-grid gap-2 col-6 mx-auto">
            <button type="submit" class="btn btn-primary">Suscribirse</button>
        </div>
    </form>
{{/partial}}

{{> templates/base }}